@import "../common/mixin.scss";

div#activities-page{
  div.list-wrap{
    overflow-y: auto;
  }
  .nullData{
    >div{
      &:nth-of-type(1) {
        width: px2rem(302px);
        height: px2rem(274px);
        @include img("../assets/icons/activities/2.png", 100% 100%);
      }
      &:nth-of-type(3) {
        height: px2rem(68px);
        width: px2rem(280px);
        background: #f66;
        border-radius: px2rem(8px);
        text-align: center;
        line-height: px2rem(68px);
        color: #fff;
        font-size: 1rem;
        margin: 1rem auto 0;
      }
    }
  }
}