@import "../common/mixin.scss";

@-webkit-keyframes uil-default-anim {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes uil-default-anim {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

div#chat-page{
  position: relative;
  overflow: hidden;
  .fixed{
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -10rem;
      width: 20rem;
  }

  div.page-title{
      top: 0;
    >span{
      margin-left:0.222rem;
      font-size:0.778rem;
    }
    >a.icon{
      position: absolute;
      display: block;
      width:1rem;
      height:1rem;
      top:50%;
      margin-top:-0.5rem;
      @include imgBgFix(1rem 1rem);
      &.tech{
        right:0.667rem;
        background-image: url("../assets/icons/chat/icon-tech.png");
      }
      &.home{
        right:2.4rem;
        background-image: url("../assets/icons/chat/home2.png");
        &.once{
          right:0.667rem;
        }
      }
    }
  }

  div.order-tip{
    height:1.778rem;
    top: 2.611rem;
    line-height: 1.778rem;
    text-align: left;
    padding-left:0.611rem;
    font-size:0.778rem;
    color:#ff9c0a;
    background-color: #fafafa;
    border-bottom: 1px solid #d9d9d9;
    >div{
      position: absolute;
      right:0.5rem;
      top:0.6rem;
      border-left:0.11rem solid #ff9c0a;
      border-bottom:0.11rem solid #ff9c0a;
      width:0.4rem;
      height:0.4rem;
      @include rotate(-135deg);
    }
  }

  div.load-over-tip{
      font-size: px2rem(24px);
      text-align: center;
      color: #4d4d4d;
      margin-bottom: 1rem;
  }

  div.message-wrap{
    overflow-y: auto;
    overflow-x: hidden;
    top: 2.611rem;
    bottom: 3.5rem;
    &.tip-pos{
        top: 4.3888rem;
    }
  }

  div.list-wrap{
    margin-top: -2.1rem;
  }

  div.loading-wrap{
    position: relative;
    width: 2.125rem;
    height: 2.125rem;
    left: 50%;
    margin-left: -1.0625rem;
    transform: scale(0.12,0.12);
    >div{
      position: absolute;
      border-radius: 10px;
      top: 80px;
      left: 93px;
      width: 14px;
      height: 40px;
      background: #fb5549;
      animation: uil-default-anim 1s linear infinite;
      &:nth-of-type(1){
        transform: rotate(0deg) translate(0,-60px);
        animation-delay: -0.5s;
      }
      &:nth-of-type(2){
        transform: rotate(30deg) translate(0,-60px);
        animation-delay: -0.41667s;
      }
      &:nth-of-type(3){
        transform: rotate(60deg) translate(0,-60px);
        animation-delay: -0.33333s;
      }
      &:nth-of-type(4){
        transform: rotate(90deg) translate(0,-60px);
        animation-delay: -0.25s;
      }
      &:nth-of-type(5){
        transform: rotate(120deg) translate(0,-60px);
        animation-delay: -0.16667s;
      }
      &:nth-of-type(6){
        transform: rotate(150deg) translate(0,-60px);
        animation-delay: -0.08333s;
      }
      &:nth-of-type(7){
        transform: rotate(180deg) translate(0,-60px);
        animation-delay: 0s;
      }
      &:nth-of-type(8){
        transform: rotate(210deg) translate(0,-60px);
        animation-delay: 0.08333s;
      }
      &:nth-of-type(9){
        transform: rotate(240deg) translate(0,-60px);
        animation-delay: 0.16667s;
      }
      &:nth-of-type(10){
        transform: rotate(270deg) translate(0,-60px);
        animation-delay: 0.25s;
      }
      &:nth-of-type(11){
        transform: rotate(300deg) translate(0,-60px);
        animation-delay: 0.33333s;
      }
      &:nth-of-type(12){
        transform: rotate(330deg) translate(0,-60px);
        animation-delay: 0.41667s;
      }
    }
  }
}
