@import "../common/mixin.scss";
@import '../common/common.scss';

@keyframes service-ani {
    0% {
        background-image: url('./assets/icons/common/service1.png');
    }
    33% {
        background-image: url('./assets/icons/common/service0.png');
    }
    66% {
        background-image: url('./assets/icons/common/service2.png');
    }
    100% {
        background-image: url('./assets/icons/common/service2.png');
    }
}

@keyframes service-font {
    0% {
        background-image: url('./assets/icons/common/service.png');
    }
}

@keyframes service-tip-ani {
    0% {
        opacity: 0
    }
    20% {
        opacity: 1
    }
    80% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

div.page-title {
    position: relative;
    height: 2.611rem;
    line-height: 2.611rem;
    color: #4d4d4d;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    > a.back {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 2.611rem;
        width: 2.061rem;
        cursor: pointer;
        &::after {
            position: absolute;
            display: block;
            content: "";
            width: 0.55rem;
            height: 0.55rem;
            top: 0.85rem;
            left: 0.7rem;
            border-left: 0.2rem solid #4d4d4d;
            border-bottom: 0.2rem solid #4d4d4d;
            @include rotate(45deg);
        }
    }
}

div.menu-container {
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 20rem;
    bottom: 0;
    left: 50%;
    right: 0;
    margin-left: -10rem;
    font-size: 0.611rem;
    border-top: 1px solid #d9d9d9;
    background-color: #fff;
    height: 2.9rem;
    padding-top: 0.1rem;
    z-index: 5;
    > a {
        display: block;
        color: #4d4d4d;
        text-align: center;
        > div:nth-of-type(1) {
            width: 1.361rem;
            height: 1.361rem;
            margin: 0.111rem auto;
            @include imgBgFix(1.361rem 1.361rem);
        }
        > div:nth-of-type(2) {
            line-height: 1.1rem;
        }
        &.active {
            color: #fb5549;
        }
        &.message > div:nth-of-type(1) , &.order > div:nth-of-type(1), &.personal > div:nth-of-type(1){
            position: relative;
            > i {
                position: absolute;
                display: inline-block;
                top: -0.111rem;
                left: 1.1rem;
                height: 0.889rem;
                line-height: 0.889rem;
                min-width: 0.55rem;
                padding: 0 .15rem;
                color: #fff;
                font-size: 0.6rem;
                font-style: normal;
                background-color: #fb5549;
                border-radius: 50% / 50%;
                text-align: center;
                @include scale(.82, .82);
            }
        }
    }

    &.club {
        > a {
            width: 4rem;
        }
        > a.home {
            > div:nth-of-type(1) {
                background-image: url("./assets/icons/footer-menu/home.png");
            }
            &.active {
                > div:nth-of-type(1) {
                    background-image: url("./assets/icons/footer-menu/home_active.png");
                }
            }
        }
        > a.message {
            > div:nth-of-type(1) {
                background-image: url("./assets/icons/footer-menu/message.png");
            }
            &.active {
                > div:nth-of-type(1) {
                    background-image: url("./assets/icons/footer-menu/message_active.png");
                }
            }
        }
        > a.technicianList {
            > div:nth-of-type(1) {
                background-image: url("./assets/icons/footer-menu/technician_list.png");
            }
            &.active {
                > div:nth-of-type(1) {
                    background-image: url("./assets/icons/footer-menu/technician_list_active.png");
                }
            }
        }
        > a.order {
            > div:nth-of-type(1) {
                background-image: url("./assets/icons/footer-menu/order.png");
            }
            &.active {
                > div:nth-of-type(1) {
                    background-image: url("./assets/icons/footer-menu/order_active.png");
                }
            }
        }
        > a.serviceList {
            > div:nth-of-type(1) {
                background-image: url("./assets/icons/footer-menu/service_list.png");
            }
            &.active {
                > div:nth-of-type(1) {
                    background-image: url("./assets/icons/footer-menu/service_list_active.png");
                }
            }
        }
        > a.personal {
            > div:nth-of-type(1) {
                background-image: url("./assets/icons/footer-menu/personal.png");
            }
            &.active {
                > div:nth-of-type(1) {
                    background-image: url("./assets/icons/footer-menu/personal_active.png");
                }
            }
        }
        > a.discountMall {
            > div:nth-of-type(1) {
                background-image: url("./assets/icons/footer-menu/discount_mall.png");
            }
            &.active {
                > div:nth-of-type(1) {
                    background-image: url("./assets/icons/footer-menu/discount_mall_active.png");
                }
            }
        }
        > a.activities {
            > div:nth-of-type(1) {
                background-image: url("./assets/icons/footer-menu/activity_zone.png");
            }
            &.active {
                > div:nth-of-type(1) {
                    background-image: url("./assets/icons/footer-menu/activity_zone_active.png");
                }
            }
        }
    }

    &.public {
        > a {
            width: 33.3%;
        }
        > a.clubList {
            > div:nth-of-type(1) {
                background-image: url("./assets/icons/home/nav_001.png");
            }
            &.active {
                > div:nth-of-type(1) {
                    background-image: url("./assets/icons/home/nav_000.png");
                }
            }
        }
        > a.message {
            > div:nth-of-type(1) {
                background-image: url("./assets/icons/home/nav_011.png");
            }
            &.active {
                > div:nth-of-type(1) {
                    background-image: url("./assets/icons/home/nav_010.png");
                }
            }
        }
        > a.personal {
            > div:nth-of-type(1) {
                background-image: url("./assets/icons/home/nav_041.png");
            }
            &.active {
                > div:nth-of-type(1) {
                    background-image: url("./assets/icons/home/nav_040.png");
                }
            }
        }
    }
}

div.service-tip-pop {
    div.center-wrap {
        height: px2rem(360px);
        width: px2rem(656px);
        background: #fff;
        border-radius: px2rem(10px);
        color: #212121;
        text-align: center;
        overflow: hidden;
        > div {
            &:nth-of-type(1) {
                font-size: px2rem(42px);
                line-height: px2rem(96px);
            }
            &:nth-of-type(2) {
                font-size: px2rem(32px);
                padding: 0 px2rem(26px);
            }
            &:nth-of-type(3) {
                margin-top: px2rem(16px);
                height: px2rem(90px);
                line-height: px2rem(90px);
                border-top: 1px solid #d9d9d9;
                font-size: px2rem(36px); 
                display: flex;
                justify-content: center;
                > div {
                    flex: 1;
                    &:nth-of-type(1) {
                        border-right: 1px solid #d9d9d9;
                    }
                    &:nth-of-type(2) {
                        color: #f66;
                    }
                }
            }
        }
    }
}

div.customer-service {
    position: fixed;
    right: 50%;
    height: px2rem(80px);
    width: px2rem(465px);
    line-height: px2rem(80px);
    bottom: px2rem(310px);
    margin-right: px2rem(-300px);
    font-size: px2rem(28px);
    z-index: 5;
    > div {
        &.run {
            animation-play-state: running !important;
        }
    }
    > div:nth-of-type(1) {
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        border-radius: px2rem(42px);
        width: 100%;
        height: 100%;
        padding-left: px2rem(18px);
        animation: service-tip-ani 3.2s 1;
        animation-fill-mode: forwards;
        animation-play-state: paused;
    }
    > div:nth-of-type(2) {
        position: absolute;
        content: "";
        right: px2rem(-40px);
        top: 50%;
        width: px2rem(135px);
        height: px2rem(132px);
        margin-top: px2rem(-66px);
        @include imgBgFix(100% 100%);
        background-image: url('./assets/icons/common/service1.png');
        animation: service-ani 2.4s steps(1) 1;
        animation-fill-mode: forwards;
        animation-play-state: paused;
        transform: translateX(0) rotate(0deg);
        transition: transform 0.4s ease-out;
        &.fix {
            transform: translateX(px2rem(55px)) rotate(-30deg);
        }
        > div {
            position: absolute;
            content: "";
            width: px2rem(135px);
            height: px2rem(132px);
            bottom: -0.6rem;
            @include imgBgFix(px2rem(71px) px2rem(35px));
            background-image: url('./assets/icons/common/service5.png');
            background-position: 0.9rem 2.7rem;
            animation: service-font 2.4s steps(1) 1;
            animation-fill-mode: forwards;
            animation-play-state: paused;
            transform: translateX(0) rotate(0deg);
            transition: transform 0.4s ease-out;
            &.fix {
                bottom: -0.5rem;
                @include imgBgFix(px2rem(64px) px2rem(35px));
                transform: translateX(px2rem(0px)) rotate(30deg);
            }
        }
    }
    &.fix {
        width: 0;
        > div:nth-of-type(1) {
            display: none;
        }
    }
}

.event-mask {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

div.telDetail {
    @include x();
    @supports (display: -moz-box) {
        display: flex;
        align-items: flex-end;
    }
    > div {
        margin-bottom: 0.5rem;
        > a {
            display: block;
            width: 18.666rem;
            height: 2.444rem;
            color: #007aff;
            background: #fff;
            border-radius: .3rem;
            @include wq();
            position: relative;
            margin: 0.667rem;
            font-size: 1.111rem;
        }
        > .techTel {
            color: #333333;
        }
    }
}

div#app-tip {
    display: none;
    position: fixed;
    z-index: 99;
    top: 60%;
    opacity: 0;
    left: 0;
    width: 100%;
    text-align: center;
    &.active {
        display: block;
        @include dhz(tipShow, 2500ms);
        @at-root {
            @keyframes tipShow {
                0% {
                    top: 100%;
                    opacity: 1;
                }
                10% {
                    top: 60%;
                    opacity: 1;
                }
                90% {
                    top: 60%;
                    opacity: 1;
                }
                100% {
                    top: 60%;
                    opacity: 0;
                }
            }
            @-moz-keyframes tipShow {
                0% {
                    top: 100%;
                    opacity: 1;
                }
                10% {
                    top: 60%;
                    opacity: 1;
                }
                90% {
                    top: 60%;
                    opacity: 1;
                }
                100% {
                    top: 60%;
                    opacity: 0;
                }
            }
            @-webkit-keyframes tipShow {
                0% {
                    top: 100%;
                    opacity: 1;
                }
                10% {
                    top: 60%;
                    opacity: 1;
                }
                90% {
                    top: 60%;
                    opacity: 1;
                }
                100% {
                    top: 60%;
                    opacity: 0;
                }
            }
            @-o-keyframes tipShow {
                0% {
                    top: 100%;
                    opacity: 1;
                }
                10% {
                    top: 60%;
                    opacity: 1;
                }
                90% {
                    top: 60%;
                    opacity: 1;
                }
                100% {
                    top: 60%;
                    opacity: 0;
                }
            }
        }
    }
    > div {
        display: inline-block;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding: 0.3em;
        color: #fff;
        border-radius: 0.4rem;
        background: rgba(50, 50, 50, 0.7) none repeat scroll 0 0;
    }
}

div.nullData {
    width: 20rem;
    min-height: 13.861rem;
    padding-top: 4rem;
    > div:nth-of-type(1) {
        margin: 0 auto;
        width: 7.028rem;
        height: 6.861rem;
        @include img('./assets/icons/common/null.png', 7.028rem 6.861rem);
    }
    > div {
        text-align: center;
        line-height: 4rem;
        color: #666;
        font-size: 0.778rem;
    }
}

div.page-back-btn {
    position: fixed;
    width: 2.222rem;
    height: 2.222rem;
    border-radius: 50%;
    z-index: 3;
    left: 50%;
    top: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateX(-9.333rem);
    &::before {
        position: absolute;
        content: "";
        display: block;
        width: .45rem;
        height: .45rem;
        top: 50%;
        left: 50%;
        margin-top: -.3rem;
        margin-left: -.3rem;
        border-left: .2rem solid #fff;
        border-bottom: .2rem solid #fff;
        @include rotate(45deg);
    }
}

div.rich-text {
    padding: 0.667rem;
    word-break: break-all;
    color: #4c4c4c;
    font-size: 1rem;
    line-height: 1.5rem;
    * {
        max-width: 18.666rem;
    }
    a {
        color: #fb5549;
    }
    p {
        margin: 0.5rem 0;
        img {
            width: 18.666rem;
            height: auto;
        }
    }
    img {
        width: 1rem;
        height: 1rem;
        &.upload_image {
            width: 18.666rem;
            height: auto;
        }
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s ease-out, transform .3s ease-out
}

.fade-enter, .fade-leave-active {
    opacity: 0
}
