@import "../common/mixin.scss";

div#member-charge-page{
    background: #eee;
    padding: px2rem(26px) 0;

    .member-info{
        height: px2rem(160px);
        background: #fff;
        margin: 0 px2rem(24px) px2rem(24px);
        padding: px2rem(20px) px2rem(40px);
        border-radius: px2rem(12px);
        box-shadow: 0 1px 1px 2px rgba(0,0,0,0.05);
        >div{
            font-size: px2rem(36px);
            height: px2rem(58px);
            line-height: px2rem(58px);
            &:before{
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: px2rem(44px);
                height: px2rem(39px);
                margin-right: px2rem(20px);
                background-position: center center;
                margin-top: - px2rem(6px);
            }
            &:nth-of-type(1){
                color: #212121;
                margin-bottom: px2rem(5px);
                &:before{
                    @include img("../assets/icons/fastPay/5.png", px2rem(39px) px2rem(39px));
                }
                >span{
                    float: right;
                    font-size: px2rem(32px);
                    color: #616161;
                }
            }
            &:nth-of-type(2){
                color: #616161;
                &:before{
                    @include img("../assets/icons/fastPay/6.png", px2rem(44px) px2rem(31px));
                }
            }
        }
    }

    .top-wrap{
      position: relative;
      background: #fff;
      margin: 0 px2rem(24px);
      border-radius: px2rem(12px);
      box-shadow: 0 1px 1px 2px rgba(0,0,0,0.05);
      &:before,&:after{
        content: "";
        position: absolute;
        width: px2rem(30px);
        height: px2rem(30px);
        top: px2rem(108px);
        background: #eee;
        border-radius: 50%;
      }
      &:before{
        left: px2rem(-15px);
      }
      &:after{
        right: px2rem(-15px);
      }

      .club-info{
        position: relative;
        height: px2rem(122px);
        line-height: px2rem(122px);
        color: #4d4d4d;
        font-size: px2rem(38px);
        padding-right: px2rem(36px);
        text-align: right;
        border-bottom: 1px dotted #e1e1e1;
        margin-bottom: px2rem(10px);
        >div{
          position: absolute;
          width: px2rem(66px);
          height: px2rem(66px);
          left: px2rem(40px);
          top: 50%;
          margin-top: px2rem(-33px);
          border-radius: 50%;
          @include imgBgFix(px2rem(66px) px2rem(66px));
        }
      }

      .item{
        padding: 0 px2rem(40px);
        font-size: px2rem(32px);
        color: #4d4d4d;
        line-height: 2.2;
        >span{
          float: right;
        }
        &:after{
            content: "";
            display: block;
            clear: both;
        }
      }

      .pay{
          border-bottom: 1px solid #e0e0e0;
        margin-top: px2rem(30px);
        height: px2rem(90px);
        line-height: px2rem(90px);
        >span{
          color: #212121;
          font-size: px2rem(60px);
        }
      }

      .tech{
          height: px2rem(100px);
          line-height: px2rem(100px);
      }
    }

    .pay-btn-wrap{
        position: fixed;
        height: px2rem(112px);
        background: #fff;
        border-top: 1px solid #ccc;
        left: 50%;
        margin-left: -10rem;
        width: 20rem;
        bottom: 0;
        padding-top: px2rem(15px);
    }

    .pay-btn{
      height: px2rem(80px);
      line-height: px2rem(80px);
      text-align: center;
      margin: 0 px2rem(24px);
      background: #3cae34;
      color: #fff;
      font-size: px2rem(36px);
      border-radius: px2rem(10px);
      letter-spacing: 2px;
      &.alipay{
          background: #00aaef;
      }
    }
}
