@import "../common/mixin.scss";

div#oclick-coupon-page{
    height: 100%;
    .tab-list{
        background: #fafafa;
        padding: px2rem(11px) 0;
        height: px2rem(64px);
        box-sizing: content-box;
        border-bottom: 1px solid #e0e0e0;
        >div{
            float: left;
            box-sizing: border-box;
            width: 33.3%;
            text-align: center;
            height: 100%;
            line-height: px2rem(64px);
            color: #616161;
            font-size: px2rem(28px);
            border-right: 1px solid #e0e0e0;
            &:last-child{
                border-right-width: 0;
            }
            &.active{
                color: #f66;
            }
        }
    }

    div.item-content{
        background-color: #eeeeee;
        font-size: px2rem(28px);
        color: #616161;
        overflow-y: auto;
        >div{
            div.item-title{
                position: relative;
                height: px2rem(60px);
                &.first{
                    border-top: 0;
                }
                >span{
                    position: absolute;
                    width: px2rem(22px);
                    height: px2rem(21px);
                    right: 0;
                    top: px2rem(17px);
                    @include imgBgFix(px2rem(22px) px2rem(21px));
                    background-image: url("../assets/icons/oClockCoupon/back.png");
                }
            }
            div.item-coupon{
                padding: px2rem(0px) px2rem(23px);
                >.item-container{
                    width: 100%;
                    height: px2rem(202px);
                }
                >.item-data1{
                    position: relative;
                    height: px2rem(202px);
                    margin-bottom: px2rem(25px);
                    &:nth-of-type(1){
                        margin-top: px2rem(20px);
                    }
                    >div{
                        >.coupon-left{
                            width: px2rem(214px);
                            height: px2rem(202px);
                            background-size: px2rem(214px) px2rem(202px);
                            background-image: url("../assets/icons/oClockCoupon/4.png");
                            background-repeat: no-repeat;
                            border-radius: px2rem(8px);
                            display: inline-block;
                            position: absolute;
                            bottom: 0;
                            box-shadow: 0 0 2px rgba(100, 100, 100, 0.5);
                            >div{
                                &:nth-of-type(1){
                                    height: px2rem(45px);
                                    text-align: center;
                                    padding-bottom: px2rem(60px);
                                    padding-top: px2rem(50px);
                                    >span{
                                        color: #333333;
                                        font-weight: 700;
                                        &:nth-of-type(2){
                                            font-size: px2rem(60px);
                                        }
                                    }
                                }
                                &:nth-of-type(2){
                                    padding-top: px2rem(2px);
                                    text-align: center;
                                    color: #333333;
                                    border-top: 0.06556rem  solid rgba(0, 0, 0, .2);
                                    margin-left: px2rem(35px);
                                    margin-right: px2rem(35px);
                                }
                            }
                        }
                        >.coupon-right{
                            display: inline-block;
                            width: px2rem(459px);
                            height: px2rem(202px);
                            background-color: #fff;
                            margin-left: px2rem(214px);
                            border-radius: px2rem(8px);
                            position: absolute;
                            bottom: 0;
                            padding: px2rem(17px);
                            box-shadow: 0 0 2px rgba(100, 100, 100, 0.5);
                            >div{
                                border: px2rem(2px) dashed #f6bab9;
                                border-radius: px2rem(8px);
                                height: px2rem(168px);
                                padding: px2rem(5px) px2rem(10px);
                                >div{
                                    &:nth-of-type(1){
                                        font-size: px2rem(37px);
                                        color: #333333;
                                    }
                                    &:nth-of-type(2){
                                        font-size: px2rem(28px);
                                        color: #333333;
                                    }
                                    &:nth-of-type(3){
                                        font-size: 0.56rem;
                                        color: #757575;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }
                                }
                            }
                            &:after{
                                content: "";
                                width: px2rem(25px);
                                height: px2rem(25px);
                                border-radius: 100%;
                                background-color: #eee;
                                position: absolute;
                                left: -0.370rem;
                                bottom: -0.26667rem;
                            }
                            &:before{
                                content: "";
                                width: px2rem(25px);
                                height: px2rem(25px);
                                line-height: px2rem(20px);
                                border-radius: 100%;
                                background-color: #eee;
                                position: absolute;
                                left: -0.370rem;
                                top: -0.26667rem;
                            }
                            >ul{
                                position: absolute;
                                left: -0.10989rem;
                                >li{
                                    width: px2rem(6px);
                                    height: px2rem(6px);
                                    border-radius: 100%;
                                    background-color: #dadada;
                                    margin-top: px2rem(6px);
                                }
                            }
                        }
                    }
                }
                >.item-data{
                    position: relative;
                    height: px2rem(202px);
                    margin-bottom: px2rem(25px);
                    &:nth-of-type(1){
                        margin-top: px2rem(20px);
                    }
                    >div{
                        >.coupon-left{
                            width: px2rem(214px);
                            height: px2rem(202px);
                            background-size: px2rem(214px) px2rem(202px);
                            background-image: url("../assets/icons/oClockCoupon/5.png");
                            background-repeat: no-repeat;
                            background-color: #fff;
                            border-radius: px2rem(8px);
                            display: inline-block;
                            position: absolute;
                            bottom: 0;
                            box-shadow: 0 2px 6px rgba(100, 100, 100, 0.5);
                            >div{
                                &:nth-of-type(1){
                                    height: px2rem(45px);
                                    text-align: center;
                                    padding-bottom: px2rem(60px);
                                    padding-top: px2rem(50px);
                                    >span{
                                        color: #999999;
                                        font-weight: 700;
                                        &:nth-of-type(2){
                                            font-size: px2rem(60px);
                                        }
                                    }
                                }
                                &:nth-of-type(2){
                                    padding-top: px2rem(2px);
                                    text-align: center;
                                    color: #999999;
                                    border-top: 0.06556rem  solid rgba(0, 0, 0, .2);
                                    margin-left: px2rem(35px);
                                    margin-right: px2rem(35px);
                                }
                            }
                        }
                        >.coupon-right{
                            display: inline-block;
                            width: px2rem(459px);
                            height: px2rem(202px);
                            background-color: #fff;
                            margin-left: px2rem(214px);
                            border-radius: px2rem(8px);
                            position: absolute;
                            bottom: 0;
                            padding: px2rem(17px);
                            box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.5);
                            >div{
                                border: px2rem(2px) dashed #dadada;
                                border-radius: px2rem(8px);
                                height: px2rem(168px);
                                padding: px2rem(5px) px2rem(10px);
                                >div{
                                    &:nth-of-type(1){
                                        font-size: px2rem(37px);
                                        color: #999999;
                                    }
                                    &:nth-of-type(2){
                                        font-size: px2rem(28px);
                                        color: #999999;
                                    }
                                    &:nth-of-type(3){
                                        font-size: 0.56rem;
                                        color: #999999;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }
                                }
                            }
                            &:after{
                                content: "";
                                width: px2rem(25px);
                                height: px2rem(25px);
                                border-radius: 100%;
                                background-color: #eee;
                                position: absolute;
                                left: -0.370rem;
                                bottom: -0.26667rem;
                            }
                            &:before{
                                content: "";
                                width: px2rem(25px);
                                height: px2rem(25px);
                                line-height: px2rem(20px);
                                border-radius: 100%;
                                background-color: #eee;
                                position: absolute;
                                left: -0.370rem;
                                top: -0.26667rem;
                            }
                            >ul{
                                position: absolute;
                                left: -0.10989rem;
                                background-color: #fafafa;
                                >li{
                                    width: px2rem(6px);
                                    height: px2rem(6px);
                                    border-radius: 100%;
                                    background-color: #dadada;
                                    margin-top: px2rem(6px);
                                }
                            }
                            >span.item-circle{
                                position: absolute;
                                top: px2rem(3px);
                                right: px2rem(3px);
                                width: px2rem(138px);
                                height: px2rem(138px);
                                background-size: px2rem(138px) px2rem(138px);
                                background-image: url("../assets/icons/oClockCoupon/7.png");
                                >i{
                                    display: inline-block;
                                    width: px2rem(96px);
                                    color: #c4c4c4;
                                    font-size: px2rem(32px);
                                    font-weight: 700;
                                    transform: rotate(15deg);
                                    margin-left: px2rem(22px);
                                    margin-top: px2rem(44px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .nullData{
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: relative;
        div{
            &:nth-of-type(1){
                width: px2rem(348px);
                height: px2rem(348px);
                @include imgBgFix(px2rem(348px) px2rem(348px));
                background-image: url("../assets/icons/oClockCoupon/1.png");
                position: absolute;
                left: 50%;
                margin-left: px2rem(-174px);
                top: px2rem(118px);
            }
            &:nth-of-type(2){
                width: px2rem(296px);
                height: px2rem(41px);
                @include imgBgFix(px2rem(296px) px2rem(41px));
                background-image: url("../assets/icons/oClockCoupon/2.png");
                position: absolute;
                left: 50%;
                margin-left: px2rem(-148px);
                top: px2rem(495px);
            }
            &:nth-of-type(3){
                width: px2rem(278px);
                height: px2rem(65px);
                line-height: px2rem(65px);
                text-align: center;
                font-size: .989rem;
                color: #fff;
                border-radius: .322rem;
                background-color: #ff6666;
                position: absolute;
                left: 50%;
                margin-left: px2rem(-139px);
                top: px2rem(589px);
            }
        }
    }
}
