@import "../common/mixin.scss";
$activeColor : #fb5549;
div#order-detail-page{
  background: #eee;
  >div:nth-of-type(1){
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    >div{
      background-color: #fff;
      &:nth-of-type(1){
        height:2.444rem;
        border-bottom:1px solid #d9d9d9;
        padding:0.222rem 0;
        margin-bottom:0.444rem;
        >div:nth-of-type(1){
          line-height: 2rem;
          width:15rem;
          padding-left:0.667rem;
          color:#666;
          font-size:0.778rem;
          float: left;
          @include sl();
        }
        >div:nth-of-type(2){
          width:2.778rem;
          height:2rem;
          border-left:1px solid #d9d9d9;
          float: right;
          >div{
            width:1.278rem;
            height:1.333rem;
            margin-left:0.75rem;
            margin-top:0.3335rem;
            @include img("../assets/icons/order/tel_icon.png",1.278rem 1.333rem);
          }
        }
      }

      &:nth-of-type(2){
        height:4.333rem;
        border-bottom:1px solid #e0e0e0;
        border-top:1px solid #e0e0e0;
        position: relative;
        >div{
          height:2.778rem;
          margin-top:1.056rem;
          &:nth-of-type(1){
            float: left;
            margin-left:0.667rem;
            margin-right:0.667rem;
            width:2.778rem;
            border-radius: 50%;
            @include imgBgFix(2.778rem 2.778rem);
          }
          &:nth-of-type(2){
            float: left;
            >div:nth-of-type(1){
              color:#4d4d4d;
              width:12rem;
              @include sx();
              >div:nth-of-type(1){
                max-width: 9rem;
                @include sl();
              }
              >div:nth-of-type(2){
                font-size:0.778rem;
                margin-left:0.2rem;
                >span{
                  color:#ff9d09;
                }
              }
            }
            >div:nth-of-type(2){
              color:#999999;
              font-size:0.778rem;
              line-height: 1.2rem;
              width:15rem;
              @include sl();
            }
          }
          &:nth-of-type(3){
            position: absolute;
            top:-0.2rem;
            right:0.694rem;
            color:$activeColor;
            &.fail{
              color:#999;
            }
          }
        }
      }

      &:nth-of-type(3),&:nth-of-type(4),&:nth-of-type(5)>div:nth-of-type(1){
        margin-top:0.444rem;
        border-top:1px solid #d9d9d9;
        border-bottom:1px solid #d9d9d9;
        >div{
          height:2.222rem;
          line-height: 2.222rem;
          color:#999;
          margin-left:1.333rem;
          font-size:0.778rem;
          border-top:1px solid #ebebeb;
          position: relative;
          @include sl();
          &:first-child{
            border-top:0;
          }
          >span{
            color:#333;
            margin-left:0.778rem;
            &:nth-of-type(2){
              color: red;
              float: right;
              margin-right: .667rem;
              margin-left: 0;
            }
          }
          >div.star{
            width:4.444rem;
            height:0.778rem;
            display: inline-block;
            position: absolute;
            left:3.694rem;
            top:45%;
            margin-top:-0.389rem;
            @include img("../assets/icons/order/star1.png",0.889rem 0.778rem);
            background-repeat: repeat-x;
            >div{
              width:0;
              height:100%;
              @include img("../assets/icons/order/star2.png",0.889rem 0.778rem);
              background-repeat: repeat-x;
            }
          }
        }
        >div.btn{
          padding:0.889rem 0;
          height: 4rem;
          >div{
            height:1.778rem;
            width:9.389rem;
            margin:0 auto;
            border:1px solid $activeColor;
            border-radius: 1rem;
            line-height: 1.778rem;
            color:$activeColor;
            font-size:0.889rem;
            text-align: center;
            box-sizing: border-box;
          }
        }
      }

      &:nth-of-type(5){
        background-color: transparent;
        margin-top: 0.444rem;
        >div{
          background: #fff;
        }
        >div:nth-of-type(1){
          margin-top: 0;
        }
        >div:nth-of-type(2){
          margin-top:0.444rem;
          border-bottom: 1px solid #d9d9d9;
          color: #666;
          >div{
            width: 100%;
            &:nth-of-type(1){
              height: 1.667rem;
              line-height:1.667rem;
              @include sx();
              border-bottom: 1px solid #d9d9d9;
              border-top: 1px solid #d9d9d9;
              border-left: 0.333rem solid #ff9d09;
              position: relative;
              >div{
                height: 100%;
                @include sx();
                color: #4d4d4d;
                font-size: 0.889rem;
                padding-left: 0.334rem;
              }
            }
            &:nth-of-type(2){
              overflow: hidden;
              clear: both;
              padding-bottom:0.667rem;
              >div{
                text-align: center;
                >div{
                  -webkit-box-sizing: border-box;
                  -moz-box-sizing: border-box;
                  box-sizing: border-box;
                }
                &:nth-of-type(1){
                  padding:0.88rem 0.667rem;
                  >div{
                    width: 3.8rem;
                    height: 3.8rem;
                    line-height: 3.8rem;
                    border-radius: 50%;
                    display: inline-block;
                    border:2px solid #ff9d09;
                    color: #ff9d09;
                    margin:0.3335rem;
                    box-sizing: content-box;
                  }
                }
                &:nth-of-type(2){
                  padding:0 0.667rem;
                  >div{
                    width: 8.8rem;
                    height: 2.45rem;
                    line-height: 2.45rem;
                    display: inline-block;
                    border:2px solid $activeColor;
                    border-radius: 5px;
                    box-sizing: content-box;
                    &:nth-of-type(1){
                      color:#fff;
                      background-color: $activeColor;
                    }
                    &:nth-of-type(2){
                      color: $activeColor;
                      &.none{
                        display:none;
                      }
                    }
                  }
                  &.not-wx{
                    >div:nth-of-type(1){
                      display: block;
                      width: auto;
                    }
                    >div:nth-of-type(2){
                      display:none;
                    }
                  }
                }
              }
            }
          }
        }
      }

      &:nth-of-type(7){
        margin-top: .444rem;
      }
    }
    >.item-switch{
      margin:0.667rem;
      height:2.444rem;
      background-color: $activeColor;
      color:#ffffff;
      text-align: center;
      line-height: 2.444rem;
      border-radius: 5px;
      font-size:1.056rem;
    }
  }
}
