@import "../common/mixin.scss";

img{
  width: 100%;
  height: 100%;
}

.btn-unable{
  background-color: #999!important;
}

.page-payInstead{
  width: 100%;
  min-height: 100vh;
  background-color: #eee;
  color: #212121;
  .container{
    min-height: 100vh;
    .main{
      overflow:auto;
      padding-bottom: px2rem(110px);
      .router-title{
        background-color: #e6e6e6;
      }
      &>.title{
        display: flex;
        align-items: center;
        width: 100%;
        height: px2rem(64px);
        padding: 0 px2rem(20px);
        background-color: #fff4e1;
        .avatar{
          flex: 0 0 px2rem(54px);
          width: px2rem(54px);
          height: px2rem(54px);
          border-radius: 50%;
          background-color: #fff;
          margin-right: px2rem(10px);
          overflow: hidden;
        }
        .name{
          flex: 1;
          color: #a37f42;
          font-size: px2rem(28px);
          @include sl()
        }
      }
      .card-wrap{
        width: 100%;
        height: px2rem(330px);
        padding: px2rem(20px) px2rem(20px) px2rem(30px);
        .wrap{
          position: relative;
          width: 100%;
          height: px2rem(280px);
          @include img('../assets/icons/payDetail/card-bg.png');
          overflow: hidden;
          .card-logo{
            position: absolute;
            top: px2rem(10px);
            left: 50%;
            width: px2rem(56px);
            height: px2rem(56px);
            transform: translate(-50%);
            @include img('../assets/icons/payDetail/image_wallet.png');
          }
          .msg{
            width: 100%;
            margin-top: px2rem(74px);
            text-align: center;
            color: #4c4c4c;
            font-size: px2rem(32px);
            line-height: 1.75em;
          }
          .price{
            width: 100%;
            color: #212121;
            line-height: px2rem(150px);
            font-size: px2rem(60px);
            text-align: center;
          }
        }
      }
      .explain{
        width: 100%;
        background-color: #fff;
        .title{
          width: 100%;
          height: px2rem(80px);
          line-height: px2rem(80px);
          border-bottom: 1px solid #e6e6e6;
          padding: 0 px2rem(20px);
          font-size: px2rem(30px);
          color: #212121;
        }
        .text{
          width: 100%;
          line-height: 2em;
          font-size: px2rem(28px);
          color: #616161;
          padding: 0 px2rem(20px);
          p{
            position: relative;
            margin-left: 1em;
            &:before{
              position: absolute;
              content: "";
              display: block;
              width: px2rem(8px);
              height: px2rem(8px);
              border-radius: 50%;
              background-color: #616161;
              top: px2rem(24px);
              left: -.6em;
            }
            &.mark{
              color: #fbab52;
            }
          }
        }
      }
    }
  }
  .footer{
    position: relative;
    padding: px2rem(15px) px2rem(20px);
    margin-top: px2rem(-110px);
    height: px2rem(110px);
    clear: both;
    overflow: hidden;
    background-color: #e0e0e0;
    border-top: 1px solid #dadada;
    &>p{
      width: 100%;
      height: px2rem(80px);
      line-height: px2rem(80px);
      text-align: center;
      color: #fff;
      background-color: #f66;
      font-size: px2rem(36px);
      border-radius: px2rem(10px);
    }
    .green{
      background-color: #3cae34;
    }
    .menu{
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      width: 100%;
      height: 100%;
      color: #fff;
      font-size: px2rem(34px);
      .detail{
        flex: 1;
        line-height: 1.25;
        background-color: #fff;
        padding-left: px2rem(20px);
        overflow: hidden;
        .price{
          margin: px2rem(10px) 0 ;
          color: #fb5549;
          font-size: px2rem(26px);
          span{
            font-size: px2rem(36px);
          }
        }
        .time{
          color: #4d4d4d;
          font-size: px2rem(24px);
          i{
            color: #212121;
          }
        }
      }
      .cancel{
        flex: 0 0 px2rem(180px);
        width: px2rem(180px);
        line-height: px2rem(110px);
        background-color: #dadada;
        text-align: center;
      }
      .submit{
        flex: 0 0 px2rem(220px);
        width: px2rem(220px);
        line-height: px2rem(110px);
        background-color: #f66;
        text-align: center;
      }
    }
  }
  .confirm-logout{
    >div{
      height:6.756rem;
      width:16.667rem;
      background-color: #fff;
      color:#4d4d4d;
      font-size:0.889rem;
      overflow: hidden;
      @include ty(0,0,4px,4px,#908f8f);
      >div:nth-of-type(1){
        height:4.35rem;
        line-height: 4.35rem;
        text-align: center;
        border-bottom: 1px solid #d9d9d9;
      }
      >div:nth-of-type(2){
        height:2.5rem;
        a{
          display: block;
          width:50%;
          float: left;
          text-align: center;
          line-height: 2.5rem;
          &:nth-of-type(1){
            color:#fff;
            background-color: #ff5549;
          }
          &:nth-of-type(2){
            background-color: #ebebeb;
          }
        }
      }
    }
  }
}

.club-name {
  display: flex;
  align-items: center;
  width: 100%;
  height: px2rem(64px);
  line-height: px2rem(64px);
  padding: 0 px2rem(24px);
  .log {
    flex: 0 0 px2rem(50px);
    width: px2rem(50px);
    height: px2rem(50px);
    border-radius: 50%;
    background-color: #fff;
    margin-right: px2rem(14px);
    overflow: hidden;
  }
  .name {
    flex: 1;
    font-size: px2rem(32px);
    color: #4c4c4c;
  }
  .icon-arrow-right {
    font-size: px2rem(18px);
    color: #616161;
  }
}

.project {
  width: 100%;
  margin-top: px2rem(24px);
  background-color: #fff;
  .title {
    width: 100%;
    font-size: px2rem(28px);
    height: px2rem(64px);
    line-height: px2rem(64px);
    padding: 0 px2rem(24px);
    border-bottom: 1px solid #e0e0e0;
  }
  .item {
    display: flex;
    width: 100%;
    height: px2rem(180px);
    padding: px2rem(20px) px2rem(24px);
    .img-box {
      position: relative;
      flex: 0 0 px2rem(140px);
      width: px2rem(140px);
      height: px2rem(140px);
      border-radius: px2rem(6px);
      background-color: #aaa;
      margin-right: px2rem(20px);
      overflow: hidden;
      &.item_card {
        border: 1px solid #f7b973;
        .type {
          background-color: #f7b973;
        }
      }
      &.item_package {
        border: 1px solid #61be32;
        .type {
          background-color: #61be32;
        }
      }
      .type {
        position: absolute;
        top: 0;
        left: 0;
        line-height: 1.75em;
        border-bottom-right-radius: px2rem(6px);
        color: #fff;
        font-size: px2rem(22px);
        @include sl();
        padding: 0 2px;
      }

    }
    .msg {
      position: relative;
      flex: 1;
      .name {
        font-size: px2rem(34px);
      }
      .price {
        position: absolute;
        left: 0;
        bottom: 0;
        color: #f66;
        font-size: px2rem(28px);
        line-height: 1;
        b {
          font-size: px2rem(42px);
        }
        .old-price {
          color: #999;
          text-decoration: line-through;
          margin-left: .5em;
        }
      }
    }
  }
}
