@import "../common/mixin.scss";

div#service-item-page{
  div.profile-swipe,div.swiper-wrapper{
    height:100%;
  }
  div.swiper-slide{
    height:auto;
    overflow-y: auto;
  }
  div.service-item-top{
    background-color: #fff;
    height: 11.583rem;
    @include sx();
    padding:0.667rem 0.778rem 0.444rem;
    >div{
      &:nth-of-type(1) {
        width: 8.667rem;
        height: 8.667rem;
        @include imgBgFix(8.667rem 8.667rem);
        border: 4px solid #fff;
        @include ty(0,0,5px,0,rgba(205, 194, 194, 0.5));
      }
      &:nth-of-type(2) {
        margin-left: 1rem;
        >div {
          &:nth-of-type(1) {
            color: #666;
            font-size: 1.167rem;
            margin-bottom: 1.222rem;
            text-overflow: ellipsis;
            word-break: break-all;
            width: 9rem;
            letter-spacing: 1px;
          }
          &:nth-of-type(2) {
            @include sx();
            margin-bottom: 0.222rem;
            >div {
              &:nth-of-type(1) {
                width: 0.9167rem;
                height: 0.8889rem;
                @include img('../assets/icons/serviceItem/clock.png',0.9167rem 0.8889rem);
                margin-right: 0.306rem;
              }
              &:nth-of-type(2) {
                color: #fff;
                height: 1.167rem;
                font-size: 0.778rem;
                line-height: 1.167rem;
                padding: 0 0.7rem 0 0.4rem;
                @include img("../assets/icons/serviceItem/price_bg.png",100% 1.167rem);
              }
            }
          }
          &:nth-of-type(3) {
            margin-left:1.084rem;
            color: #df5050;
            font-size: 0.778rem;
          }
        }
      }
    }
  }
  div.service-item-desc,div.service-item-tech{
    background-color: #fff;
    border-bottom:1px solid #e0e0e0;
    >div:nth-of-type(1){
      font-size:0.778rem;
      padding-left:1.194rem;
      margin-bottom:0.222rem;
      color:#4d4d4d;
      @include imgBgFix(0.971rem 0.971rem);
      background-position-y: center;
    }
  }
  div.service-item-desc{
    color: #666;
    font-size: 0.889rem;
    line-height: 1.167rem;
    border-top: 1px dashed #d9d9d9;
    padding: 0.667rem 0.778rem 0.667rem;
    word-break: break-all;
    >div:nth-of-type(1){
      height:1.4rem;
      line-height:1.4rem;
      background-image: url("../assets/icons/serviceItem/item_icon.png");
    }
    p{
      line-height: 1.5;
      margin:0.2rem 0;
    }
  }
  div.service-item-tech{
    margin-top: .444rem;
    border-top: 1px solid #e0e0e0;
    >div:nth-of-type(1){
      height:1.667rem;
      line-height: 1.667rem;
      padding-left:1.944rem;
      background-image: url("../assets/icons/serviceItem/techs_icon.png");
      border-bottom:1px solid #e0e0e0;
      background-position-x: .7rem;
    }
    div.tech{
      margin-left:0.667rem;
      height:3.611rem;
      border-bottom: 1px solid #e0e0e0;
      margin-bottom: 0;
      position: relative;
      >div{
        position: absolute;
        &:nth-of-type(1){
          width:1.028rem;
          height:1.028rem;
          @include img("../assets/icons/serviceItem/unselected.png",1.028rem 1.028rem);
          top:50%;
          margin-top:-0.514rem;
        }
        &:nth-of-type(2){
          width:2.778rem;
          height:2.778rem;
          @include imgBgFix(2.778rem 2.778rem);
          border-radius: 50%;
          margin-top:0.4165rem;
          left:1.611rem;
        }
        &:nth-of-type(3){
          width:14rem;
          height: 100%;
          left:4.833rem;
          margin-top:0.55rem;
          >div:nth-of-type(1){
            color:#4d4d4d;
            font-size:1rem;
            line-height: 1.3rem;
            width:7rem;
            @include sx();
            >div:nth-of-type(1){
              max-width: 4.2rem;
              @include sl();
            }
            >div:nth-of-type(2){
              margin-left:0.2rem;
              font-size:0.778rem;
              >span{
                color:#ff9d09;
              }
            }
          }
          >div:nth-of-type(2){
            color:#666;
            font-size:0.778rem;
            line-height: 1.3rem;
            @include sl();
          }
          >div:nth-of-type(3){
            position: absolute;
            height:0.778rem;
            line-height: 1.2rem;
            right:0;
            top:0;
            >div{
              display: inline-block;
              width:4.445rem;
              height:0.778rem;
              @include img("../assets/icons/serviceItem/star1.png",0.889rem 0.778rem);
              background-repeat: repeat-x;
              >div{
                width:0;
                height:0.778rem;
                @include img("../assets/icons/serviceItem/star2.png",0.889rem 0.778rem);
                background-repeat: repeat-x;
              }
            }
            >span{
              position: relative;
              top:-0.1rem;
              margin-left:0.222rem;
              font-size:0.667rem;
              color:#ff9d09;
            }
          }
        }
      }
      &.selected{
        >div:nth-of-type(1){
          @include img("../assets/icons/serviceItem/selected.png",1.028rem 1.028rem);
        }
      }
    }
    >div:last-child{
      border-bottom:0
    }
  }

  div.confirm-btn{
    position: fixed;
    bottom: 0;
    height: 3.333rem;
    left: 0;
    right: 0;
    background-color: #e1e1e1;
    z-index:10;
    >a{
      display: block;
      height: 2.444rem;
      line-height: 2.444rem;
      margin: .444rem .667rem 0;
      background-color: #fb5549;
      color: #fff;
      font-size: 1.056rem;
      text-align: center;
      letter-spacing: 2px;
      border-radius: 5px;
    }
  }
}