@import "../common/mixin.scss";

div#service-item-coupon-page{
  overflow-y: hidden;

  .tab-list{
    background: #fafafa;
    height: px2rem(75px);
    box-sizing: content-box;
    border-bottom: 1px solid #e0e0e0;
    >div{
      float: left;
      box-sizing: border-box;
      width: 33.3%;
      text-align: center;
      height: 100%;
      line-height: px2rem(75px);
      color: #616161;
      font-size: px2rem(28px);
      border-right: 1px solid #e0e0e0;
      &:last-child{
        border-right-width: 0;
      }
      &.active{
        color: #f66;
          position: relative;
          &:before{
              content: "";
              width: px2rem(140px);
              height: px2rem(3px);
              background-color: #f66;
              position: absolute;
              left: px2rem(48px);
              bottom: px2rem(-1px);
          }
      }
    }
  }

  div.list{
    overflow-y: auto;
  }

    div.item-content{
        background-color: #eeeeee;
        font-size: px2rem(28px);
        color: #616161;
        overflow-y: auto;
        >div{
            div.item-coupon{
                padding: px2rem(0px) px2rem(23px);
                >.item-container{
                    width: 100%;
                    height: px2rem(202px);
                }
                >.item-data1{
                    position: relative;
                    height: px2rem(202px);
                    margin-bottom: px2rem(25px);
                    &:nth-of-type(1){
                        margin-top: px2rem(20px);
                    }
                    >div{
                        >.coupon-left{
                            width: px2rem(214px);
                            height: px2rem(202px);
                            background-size: px2rem(214px) px2rem(202px);
                            background-repeat: no-repeat;
                            border-radius: px2rem(8px);
                            display: inline-block;
                            position: absolute;
                            bottom: 0;
                            background-image: url("../assets/icons/oClockCoupon/9.png");
                            box-shadow: 0 0 2px rgba(100, 100, 100, 0.5);
                            >div{
                                &:nth-of-type(1){
                                    height: px2rem(45px);
                                    text-align: center;
                                    padding-bottom: px2rem(60px);
                                    padding-top: px2rem(50px);
                                    @include sl();
                                    >span{
                                        color: #333333;
                                        font-weight: 700;
                                        &:nth-of-type(2){
                                            font-size: px2rem(60px);
                                        }
                                    }
                                }
                                &:nth-of-type(2){
                                    padding-top: px2rem(2px);
                                    text-align: center;
                                    color: #333333;
                                    border-top: 0.06556rem  solid rgba(0, 0, 0, .2);
                                    margin-left: px2rem(20px);
                                    margin-right: px2rem(20px);
                                }
                            }
                        }
                        .money,.coupon,.discount,.cash{
                            background-image: url("../assets/icons/oClockCoupon/8.png");
                        }
                        .paid{
                            background-image: url("../assets/icons/oClockCoupon/4.png");
                        }
                        .gift{
                            background-color: #fff;
                            background-size: px2rem(158px) px2rem(156px);
                            background-position: center center;
                            background-image: url("../assets/icons/home/serviceItem_default.jpg");
                        }
                        >.coupon-right{
                            display: inline-block;
                            width: px2rem(459px);
                            height: px2rem(202px);
                            background-color: #fff;
                            margin-left: px2rem(214px);
                            border-radius: px2rem(8px);
                            position: absolute;
                            bottom: 0;
                            padding: px2rem(17px);
                            box-shadow: 0 0 2px rgba(100, 100, 100, 0.5);
                            >div{
                                border: px2rem(2px) dashed #f6bab9;
                                border-radius: px2rem(8px);
                                height: px2rem(168px);
                                padding: px2rem(5px) px2rem(10px);
                                >div{
                                    font-size: px2rem(28px);
                                    color: #333333;
                                    @include sl();
                                    &:nth-of-type(1){
                                        font-size: px2rem(37px);
                                    }
                                    &:last-child{
                                        font-size: 0.56rem;
                                        color: #757575;
                                    }
                                }
                            }
                            .money1,.coupon1,.discount1,.cash1{
                                border: px2rem(2px) dashed #ffd37f;
                            }
                            .gift1{
                                border: px2rem(2px) dashed #bbbbbb;
                            }
                            .paid1{
                                border: px2rem(2px) dashed #f6bab9;
                            }
                            &:after{
                                content: "";
                                width: px2rem(25px);
                                height: px2rem(25px);
                                border-radius: 100%;
                                background-color: #eee;
                                position: absolute;
                                left: -0.370rem;
                                bottom: -0.26667rem;
                            }
                            &:before{
                                content: "";
                                width: px2rem(25px);
                                height: px2rem(25px);
                                line-height: px2rem(20px);
                                border-radius: 100%;
                                background-color: #eee;
                                position: absolute;
                                left: -0.370rem;
                                top: -0.26667rem;
                            }
                            >ul{
                                position: absolute;
                                left: -0.10989rem;
                                >li{
                                    width: px2rem(6px);
                                    height: px2rem(6px);
                                    border-radius: 100%;
                                    background-color: #dadada;
                                    margin-top: px2rem(6px);
                                }
                            }
                        }
                    }
                }
                >.item-data{
                    position: relative;
                    height: px2rem(202px);
                    margin-bottom: px2rem(25px);
                    &:nth-of-type(1){
                        margin-top: px2rem(20px);
                    }
                    >div{
                        >.coupon-left{
                            width: px2rem(214px);
                            height: px2rem(202px);
                            background-size: px2rem(214px) px2rem(202px);
                            background-image: url("../assets/icons/oClockCoupon/5.png");
                            background-repeat: no-repeat;
                            background-color: #fff;
                            border-radius: px2rem(8px);
                            display: inline-block;
                            position: absolute;
                            bottom: 0;
                            box-shadow: 0 2px 6px rgba(100, 100, 100, 0.5);
                            >div{
                                &:nth-of-type(1){
                                    height: px2rem(45px);
                                    text-align: center;
                                    padding-bottom: px2rem(60px);
                                    padding-top: px2rem(50px);
                                    >span{
                                        color: #999999;
                                        font-weight: 700;
                                        &:nth-of-type(2){
                                            font-size: px2rem(60px);
                                        }
                                    }
                                }
                                &:nth-of-type(2){
                                    padding-top: px2rem(2px);
                                    text-align: center;
                                    color: #999999;
                                    border-top: 0.06556rem  solid rgba(0, 0, 0, .2);
                                    margin-left: px2rem(35px);
                                    margin-right: px2rem(35px);
                                }
                            }
                        }
                        .gift{
                            background-color: #fff;
                            background-size: px2rem(158px) px2rem(156px);
                            background-position: center center;
                            background-image: url("../assets/icons/home/serviceItem_default.jpg");
                        }
                        >.coupon-right{
                            display: inline-block;
                            width: px2rem(459px);
                            height: px2rem(202px);
                            background-color: #fff;
                            margin-left: px2rem(214px);
                            border-radius: px2rem(8px);
                            position: absolute;
                            bottom: 0;
                            padding: px2rem(17px);
                            box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.5);
                            >div{
                                border: px2rem(2px) dashed #dadada;
                                border-radius: px2rem(8px);
                                height: px2rem(168px);
                                padding: px2rem(5px) px2rem(10px);
                                >div{
                                    @include sl();
                                    &:nth-of-type(1){
                                        font-size: px2rem(37px);
                                        color: #999999;
                                    }
                                    &:nth-of-type(2){
                                        font-size: px2rem(28px);
                                        color: #999999;
                                    }
                                    &:nth-of-type(3){
                                        font-size: px2rem(28px);
                                        color: #999999;
                                    }
                                    &:nth-of-type(4){
                                        font-size: px2rem(28px);
                                        color: #999999;
                                    }
                                    &:nth-of-type(5){
                                        font-size: px2rem(28px);
                                        color: #999999;
                                    }
                                    &:last-child{
                                        font-size: 0.56rem;
                                        color: #999999;
                                    }
                                }
                            }
                            &:after{
                                content: "";
                                width: px2rem(25px);
                                height: px2rem(25px);
                                border-radius: 100%;
                                background-color: #eee;
                                position: absolute;
                                left: -0.370rem;
                                bottom: -0.26667rem;
                            }
                            &:before{
                                content: "";
                                width: px2rem(25px);
                                height: px2rem(25px);
                                line-height: px2rem(20px);
                                border-radius: 100%;
                                background-color: #eee;
                                position: absolute;
                                left: -0.370rem;
                                top: -0.26667rem;
                            }
                            >ul{
                                position: absolute;
                                left: -0.10989rem;
                                background-color: #fafafa;
                                >li{
                                    width: px2rem(6px);
                                    height: px2rem(6px);
                                    border-radius: 100%;
                                    background-color: #dadada;
                                    margin-top: px2rem(6px);
                                }
                            }
                            >span.item-circle{
                                position: absolute;
                                top: px2rem(3px);
                                right: px2rem(3px);
                                width: px2rem(138px);
                                height: px2rem(138px);
                                background-size: px2rem(138px) px2rem(138px);
                                background-image: url("../assets/icons/oClockCoupon/7.png");
                                >i{
                                    display: inline-block;
                                    width: px2rem(96px);
                                    color: #c4c4c4;
                                    font-size: px2rem(32px);
                                    font-weight: 700;
                                    transform: rotate(15deg);
                                    margin-left: px2rem(22px);
                                    margin-top: px2rem(44px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    div.list-item{
        padding-bottom: 0.722rem;
        div.header{
            height: 1.805rem;
            line-height: 1.805rem;
            background-color: #e6e6e6;
            font-size: 0.889rem;
            color: #666;
            text-indent: 0.611rem;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &.first{
                border-top: 0;
            }
            >div{
                float: right;
                font-size: 0.778rem;
                text-decoration: underline;
                margin-right: px2rem(16px);
                &:after{
                    content: "";
                    display: inline-block;
                    width: 0.42rem;
                    height: 0.42rem;
                    border-left: 1px solid #999;
                    border-bottom: 1px solid #999;
                    margin-left: 0.244rem;
                    transition: transform 0.3s;
                    @include rotate(135deg);
                }
                &.closed{
                    &:after{
                        margin-top:-0.3rem;
                        vertical-align: middle;
                        @include rotate(-45deg);
                    }
                }
            }
        }
    }


  /*div.list-item{
    padding-bottom: 0.722rem;

    div.coupon-name{
      color: #616161;
      font-size: 0.833rem;
      margin: .667rem 0 -.667rem .667rem;
    }

    div.item {
      margin: 0.667rem 0.667rem 0;
      border:1px solid #d9d9d9;
      border-radius: 0.222rem;
      background-color: #fff;
      color:#4d4d4d;
      position: relative;
      &:before{
        content: '';
        display: block;
        height:0.5278rem;
        @include img("../assets/icons/coupon/red_round.png",0.333rem 0.5278rem);
        background-repeat: repeat-x;
        border-top-left-radius: 0.222rem;
        border-top-right-radius: 0.222rem;
      }
      >div{
        &:nth-of-type(1){
          margin:0.694rem 0  0 0.611rem;
          font-size:1.167rem;
          line-height: 1.52rem;
        }
        &:nth-of-type(2){
          margin-left:0.611rem;
          font-size:0.778rem;
          line-height: 1.222rem;
        }
        &:nth-of-type(3){
          margin-left:0.611rem;
          font-size:0.667rem;
          color:#999;
          line-height: 1.083rem;
          margin-bottom:0.2rem;
        }
        &:nth-of-type(4){
          position: absolute;
          color:#f24f52;
          font-size:0.889rem;
          top:1.056rem;
          right:0.667rem;
          line-height: 1.2rem;
        }
        &:nth-of-type(5){
          color:#fff;
          font-size:0.667rem;
          background-color: #f24f52;
          border-top:1px solid #d9d9d9;
          height:1.027rem;
          line-height: 1.027rem;
          padding-left:0.667rem;
          border-bottom-left-radius: 0.222rem;
          border-bottom-right-radius: 0.222rem;
        }
      }
      >span{
        display: none;
        position: absolute;
        right:0.222rem;
        top:2.38rem;
        font-size:0.889rem;
        color:#999;
        background-color: #ededed;
        padding:0 0.556rem;
        border-radius: 4px;
        &.unpay,&.payed{
          display: inline;
          background-color:#fff;
        }
        &.unpay{
          color:#fb5549;
          border:1px solid #fb5549;
        }
        &.payed{
          color:#51b636;
          border:1px solid #51b636;
        }
        &.expire{
          display: inline;
        }
      }
    }

    div.expire {
      >i{
        @include img("../assets/icons/coupon/gray_round.png",0.333rem 0.5278rem);
        background-repeat: repeat-x;
      }
      >div{
        color:#999;
        &:nth-of-type(4){
          color:#999;
        }
        &:nth-of-type(5){
          background-color: #999;
        }
      }
      >span{
        display: block;
      }
    }
  }*/

  div.load-more{
      text-align: center;
      line-height: px2rem(40px);
      font-size: px2rem(28px);
      color: #666;
      text-decoration: underline;
  }
}
