@import "../common/mixin.scss";

div#trade-records-page{
    div.list{
        overflow-y: auto;
    }
    div.list-item{
        background-color: #fff;
        padding: .889rem .833rem;
        line-height: 1;
        color: #212121;
        border-bottom: 1px solid #e0e0e0;
        > div{
            &:first-child{
                font-size: .889rem;
                > span{
                    font-size: .778rem;
                    float: right;
                    &.recharge{
                        color: #04bd07;
                    }
                }
            }
            &:last-child{
                width: 100%;
                font-size: .667rem;
                color: #9e9e9e;
                margin-top: .611rem;
                .name{
                    float: left;
                }
                .time{
                    float: right;
                }
            }
        }
    }
}
