@import "../common/mixin.scss";

div#treat-page{
  height: 100%;
  position: relative;

  div.treat-area{
    background-color: #fff;
    >div{
      padding: .889rem .806rem;
      line-height: 1;
      border-bottom:1px solid #e0e0e0;
      >div{
        &:nth-of-type(1){
          color: #333;
          font-size: .889rem;
          >span{
            margin-left: .3rem;
            font-size: .667rem;
            color: #9e9e9e;
          }
        }
        &:nth-of-type(2){
          position: relative;
          height:2.126rem;
          line-height: 2.126rem;
          margin-top: .667rem;
          padding-right:0.556rem;
          border:1px solid #bdbdbd;
          border-radius: 5px;
          text-align: right;
          >input{
            position: absolute;
            left:0;
            top:0;
            bottom:0;
            width: 16.231rem;
            box-sizing: border-box;
            background-color: transparent;
            color: #000;
            font-size: 1.889rem;
            padding:0 0 0 1rem;
            border: 0;
            outline: none;
            -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
            resize: none;
          }
        }
        &:nth-of-type(3){
          margin-top: .5rem;
          font-size: .667rem;
          line-height: 1.5;
        }
      }
    }
  }

  div.check{
    margin:1rem .806rem 1.472rem;
    padding-left:1.2rem;
    font-size: .778rem;
    color: #757575;
    background: url("../assets/icons/qrPay/icon_uncheck.png") left center;
    @include imgBgFix(.889rem .889rem);
    &.active{
      background-image: url("../assets/icons/qrPay/icon_check.png");
    }
  }

  div.btn{
    height: 2.444rem;
    line-height: 2.444rem;
    margin: .889rem .667rem;
    text-align: center;
    font-size: .889rem;
    border-radius: .222rem;
    background-color: #E0E0E0;
    color: #bdbdbd;
    &.active{
      background-color: #fb5549;
      color: #fff;
    }
    &.processing{
      color: #bdbdbd;
      background: #e0e0e0 url("../assets/icons/common/loading.gif") no-repeat 30% 45%;
    }
  }

  /*div.footer-area{
    position: fixed;
    bottom: .722rem;
    left:0;
    width: 100%;
    // display: table;
    >a{
      // display: table-cell;
      &:nth-of-type(1){
        float: left;
      }
      &:nth-of-type(2){
        float: right;
      }
      width:50%;
      text-align: center;
      font-size: .889rem;
      line-height: 1;
      color: #616161;
      box-sizing: border-box;
      &:nth-of-type(1){
        border-right:1px solid #9e9e9e;
      }
    }
  }*/

  .btn-footer{
    padding: 0 .667rem;
    width: 100%;
    margin-bottom: .722rem;
    >div{
      height: 100%;
      @include sx();
      >div{
        @include boxFlex(1);
        line-height: 1;
        font-size: .889rem;
        text-align: center;
      }
      .btn-give{
        width:50%;
        color: #616161;
        &:nth-of-type(1){
          border-right:1px solid #9e9e9e;
        }
      }
      .btn-super{
        width:50%;
        color: #616161;
      }
    }
  }
}
